@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,600;0,700;1,400&display=swap');

@import "mixins";


body {
    background-color: #fffeee; //cream
    overflow-x: hidden;
}

.all-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: 0 auto;
    font-family: 'Montserrat';

    &__betweenSpace{
        width: 1920px;
        height: 5260px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
}

html {
    scroll-behavior: smooth;

    @include scroolbar-special;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    width: 100vw;
    max-width: 1786px;

    &__left {
        &--logo {
            a {
                user-select: none;
                text-decoration: none;
                color: #4468E2;
            }

            display: flex;
            flex-direction: row;
            gap: 5px;
            align-items: center;
            margin-left: 25px;

            img {
                width: 27px;
                height: 27px;
            }

            span {
                font-size: 20px;
                font-family: 'Montserrat';
                font-weight: 600;
                color: #4468E2;
            }
        }
    }

    &__middle {
        &--menu {
            ul {
                display: flex;
                gap: 75px;

                li {
                    a {
                        font-size: 22px;
                        font-family: 'Montserrat';
                        color: #707070;
                        text-decoration: none;


                    }

                    &:nth-child(1) {
                        a {
                            color: #1C4961;
                            font-family: 'Montserrat';
                            font-weight: 600;
                        }
                    }

                }
            }
        }
    }

    &__right {

        &--btn {
            font-size: 19px;
            font-family: 'Montserrat';
            font-weight: 500;
            color: #FFF;
            background-color: #4468E2;
            border-radius: 17px;
            padding: 7px 20px;
            cursor: pointer;
            user-select: none;
        }
    }
}

.section-sahil {
    background-image: url(../img/sahil.png);
    width: 1780px;
    height: 608px;
    background-repeat: no-repeat;
    margin: 0 auto;
    color: #FFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__container-center {
        width: 876px;
        height: 380px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        #title-top {
            width: 800px;
            text-align: center;
            height: 61px;
            font-size: 50px;
            font-family: 'Montserrat';
            font-weight: 700;
        }

        #p-top {
            width: 610px;
            height: 135px;
            font-size: 22px;
            font-family: 'Montserrat';
            text-align: center;
            line-height: 33px;
        }



        &--exploreNow {
            width: 876px;
            height: 89px;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            background-color: #FFF;
            opacity: 0.7;
            border-radius: 10px;

            .texts {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                width: 500px;
                height: 55px;

                .line {
                    width: 1px;
                    height: 55px;
                    background-image: url(/assets/img/line.png);

                }

                .text-mini {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    row-gap: 5px;

                    span:nth-child(1) {
                        font-family: 'Montserrat';
                        font-size: 20px;
                        color: #151515;
                        font-weight: 700;
                    }

                    span:nth-child(2) {
                        font-family: 'Montserrat';
                        font-size: 16px;
                        color: #7E7E7E;
                    }

                    i {
                        color: #7E7E7E;
                        font-size: 16px;
                    }

                }
            }

            .btn-explore {
                width: 187px;
                height: 63px;
                background-color: #4468E2;
                border-radius: 10px;
                display: flex;
                justify-content: center;
                align-items: center;
                font-family: 'Montserrat';
                font-size: 21px;
                color: #fff;
            }
        }
    }

}

.section-cards-mini {
    width: 1786px;
    height: 295px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    &__card-container {
        width: 369px;
        height: 295px;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 12px 14px 13px #ebebeb;

        .card {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-between;

            .image-container {
                width: 103px;
                height: 97px;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: #EBF0FE;
                border-radius: 120px;
            }

            div:nth-child(2) {
                font-size: 24px;
                font-family: 'Montserrat';
                font-weight: 600;
                color: #0F0F0F;
            }

            div:nth-child(3) {
                font-size: 20px;
                font-family: 'Montserrat';
                fill: #0F0F0F;
                line-height: 27px;
            }
        }

        .one {
            width: 275px;
            height: 244px;

            img {
                width: 53px;
                height: 67px;
            }
        }

        .two {
            width: 285px;
            height: 244px;

            img {
                width: 72px;
                height: 72px;
            }
        }

        .three {
            width: 324px;
            height: 244px;

            img {
                width: 63px;
                height: 42px;
            }
        }

        .four {
            width: 312px;
            height: 244px;

            img {
                width: 70px;
                height: 70px;
            }
        }
    }
}

.section-cards-medium {
    width: 1920px;
    height: 1860px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-sizing: border-box;

    &__top {
        height: 180px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &__title {
            display: flex;
            justify-content: center;
            font-size: 40px;
            font-family: 'Montserrat';
            font-weight: 700;
            width: 100%;
            color: #000000;
        }

        &__menubar {
            width: 1220px;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            align-items: center;

            &__list {
                display: inline-flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;

                a {
                    text-decoration: none;
                    font-size: 26px;
                    font-family: 'Montserrat';
                    font-weight: 600;
                    color: #000000;
                }

                &:nth-child(1) {
                    border-bottom: 1px solid #163235;
                    border-bottom-width: 3px;
                }
            }
        }
    }

    &__city-cards-container {
        width: 1786px;
        height: 1466px;
        display: flex;
        flex-flow: column wrap;
        align-content: center;
        column-gap: 55px;
        row-gap: 200px;
        margin: 0 auto;

        &__cityCards {
            @include __cityCards;
        }
    }

}

.section-blogs {
    width: 1786px;
    height: 885px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    &__title {
        font-size: 40px;
        font-family: 'Montserrat';
        font-weight: 700;
        color: #000000;
        text-align: center;
    }

    &__card {
        width: 1786px;
        height: 587px;
        display: flex;
        justify-content: space-around;

        &--big {
            width: 965px;
            height: 587px;
            background-image: url(../img/blogs/img-big.png);
            background-repeat: no-repeat;
            background-size: cover; //resmin hepsini kapsıyor
            display: flex;
            justify-content: center;
            align-items: center;

            &--text {
                width: 515px;
                height: 189px;
                font-size: 50px;
                font-weight: 700;
                color: #FFF;
                font-family: 'Montserrat';
                text-align: center;
            }
        }

        &__halfs {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            &--half-up {
                width: 785px;
                height: 277px;
                background-image: url(../img/blogs/img-half-up.png);
                background-repeat: no-repeat;
                background-size: cover; //resmin hepsini kapsıyor


                display: flex;
                justify-content: center;
                align-items: center;

                &--text {
                    width: 380px;
                    height: 94px;
                    font-size: 35px;
                    font-weight: 700;
                    color: #FFF;
                    font-family: 'Montserrat';
                    text-align: center;
                }
            }

            &--half-down {
                width: 785px;
                height: 277px;
                background-image: url(../img/blogs/img-half-down.png);
                background-repeat: no-repeat;
                background-size: cover; //resmin hepsini kapsıyor


                display: flex;
                justify-content: center;
                align-items: center;

                &--text {
                    width: 530px;
                    height: 94px;
                    font-size: 35px;
                    font-weight: 700;
                    color: #FFF;
                    font-family: 'Montserrat';
                    text-align: center;
                }
            }
        }

    }

}

.section-down {
    width: 1780;
    height: 590px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    &__text {
        font-size: 40px;
        font-family: 'Montserrat';
        color: #000000;
        text-align: center;
    }

    &--comment-cards {
        display: flex;
        justify-content: space-between; // ortası ve divler arası boşluk, baştaki ve sondaki divler köşelere yapışık.

        &__commentFirst {
            @include commentFirstAndSecond;
        }

        &__commentSecond {
            @include commentFirstAndSecond;
        }
    }
}

.footer {
    width: 1786px;
    height: 178px;
    background-color: #E1E8F8;
    border-radius: 18px;
    font-size: 24px;
    display: flex;
    justify-content: space-around;
    align-items: center;

    &__menuList {
        width: 602px;
        height: 32px;

        ul {
            display: flex;
            justify-content: space-between;
            align-items: center;

            li:first-child {
                color: #000000;
            }

            li {
                color: #707070;
            }

            li:last-child,
            :nth-child(4) {
                margin-left: 5px;
            }
        }

    }

    &__icons {
        width: 186px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        img {
            width: 44px;
            height: 44px;
        }
    }
}